@charset "utf-8";

/**
 * Reset
 */
@import "reset.css";

/**
 HOME
 */
 
#app header {
    background: url("../assets/img/lionBan.png") no-repeat;
    background-size: cover;
    height: 730px;
    position: absolute;
  }

.header--logo {
    padding: 38px 0px 0px 50px ;
}

.header--logo h1 {
    width: 130px;
    letter-spacing: 1px;
    font-family: 'Arial';
    font-size: 23px;
    color: #ffffff;
    font-weight: bold;
}

svg {
  float: right;
  padding: 0px 55px 100px 30px;
  fill: white;
}

h2{
    letter-spacing: 3px;
    font-family: 'Arial';
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    padding: 171px 0px 0px 284px
}
.header--main-title {
    letter-spacing: 4px;
    font-family: 'Arial';
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    padding: 61px 63px 150px 280px;
}

.header--main-title p{
    width: 299px;
    letter-spacing: 0;
    font-family: 'Arial';
    font-size: 12px;
    color: #ffffff;
    padding: 12px 0px 0px 8px;

}
.header--main-title svg{
padding: 56px 1070px 0px 0px;
}

.prev {
  font-size: 70px;
  font-family: 'Arial';
  color: #ffffff;
  padding: 0px 0px 0px 0px;
  position: relative;
  bottom:219px;
  right: 523px;
  writing-mode: tb;
  text-orientation: upright;


}

.next{
  font-size: 70px;
  font-family: 'Arial';
  color: #ffffff;
  float: right;
  position: relative;
  bottom: 225px;
  right: -13px;
  writing-mode: tb;
  text-orientation: upright;
}

#main--square {
  background:#FF0000;
  width: 880px;
  height: 2240px;
  position: relative;
  margin-top:131px;
  margin-left:280px;

}

.block--one {
  background:#7E7E7E;
  width: 880px;
  height: 402px;
  position: relative;
  margin-top:132px;
  margin-left:0px;
}
.blackground-block {
  background: url("../assets/img/Canva - abstract art.jpg") no-repeat;
  background-size: cover;
  height: 400px;
  width: 375px;
  margin-top:-296px;
  margin-left:504px;
  position: absolute;
}

.block--one h1{
  font-size: 20px;
  letter-spacing: 7px;
  padding: 57px 60px 0px 0px;
}

.block--one h2 {
  font-size: 52px;
  margin: auto;
  letter-spacing: 3px;
  padding: 20px 439px 0px 0px;
  width: 440px;
  /*position: absolute;*/
}

.block--one p {
  font-size: 14px;
  padding: 40px 10px 0px 130px;
  width: 250px;
}



